.carouselContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel{
    height: 250px;
    width: 80%;
    position: relative;
}

.carousel .leftArrow,
.carousel .rightArrow{
    color: white;
    font-weight: bold;
    height: 30px;
    width: 29px;
    box-shadow: 2px 2px 10px 1px #7e7e7e;
    font-size: 25px;
    text-align: center;
    border-radius: 20px;
    top: 40%;
    z-index: 1;
    color: black;
    cursor: pointer;
    outline: none;
    padding: 2px;
    user-select: none;
    -ms-user-select: none;
}

.carousel .leftArrow{
    position: absolute;
    left: -50px;
}
.carousel .rightArrow{
    position: absolute;
    right: -50px;
}
.carouselBox{
    height: 250px;
    width: auto;
    overflow: scroll;
    -ms-overflow-style: none;  
    scrollbar-width: none;  
    white-space: nowrap;
    display: inline-block;
    padding-bottom: 10px ;
    display: flex;
    align-items: center;
}
.carouselBox::-webkit-scrollbar{
    display: none;
}
.carouselBox img{
    min-width: 147px;
    max-width: 147px;
    height: 200px;
    background-size: cover;
    margin: 5px 10px;
    cursor: pointer;
    transition: 0.5s ease;
    z-index: 1;
}
.carouselBox img:hover{
    transform: scale(1.1);
    z-index: 5;
}